# Библиотека Pandas

## Data Frame

In [1]:
import pandas as pd

In [2]:
frame = pd.DataFrame({'numbers': range(10), "chars":['a']*10}) #создает датафрейм

In [3]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [4]:
frame = pd.read_csv("1_dataset.tsv", header = 0, sep = '\t') #считывает датафрейм из файла, хедер есть, разделитель - табуляция

In [5]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
Name        6 non-null object
Birth       6 non-null object
City        6 non-null object
Position    4 non-null object
dtypes: object(4)
memory usage: 264.0+ bytes

In [ ]:
frame.columns #выведет название колонок

In [ ]:
frame.shape  #выведет размеры фрейма

In [ ]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [ ]:
frame.append (new_line, ignore_index=True)  #создаст дубликат и добавит в него товую строку, все равно в какое место

In [ ]:
frame

In [ ]:
frame = frame.append (new_line, ignore_index = True) #перепишет фрейм с новой строкой

In [ ]:
frame

In [ ]:
frame["IsStudent"] = [False]*5 + [True]*2  # добавит новую колонку

In [ ]:
frame

In [ ]:
frame.drop ([5,6], axis = 0 )  #вернет копию датафрейма с удаленными строками

In [ ]:
frame

In [ ]:
frame.drop ([5,6], axis = 0, inplace = True)  #удалит из датафрейма 5ую и 6ую строки

In [ ]:
frame

In [ ]:
frame.drop ("IsStudent", axis = 1, inplace = True) #удалит колонку из фрейма

In [ ]:
frame

In [ ]:
frame.to_csv('1_updated_dataset.csv', sep =',', header = True, index=None) #запишет фрейм в файл, разделитель - запятая,
                                                                           # хедер есть, порядок

In [ ]:
with open ('1_updated_dataset.csv', 'r') as file_obj:
    print (file_obj.read())

# Изначальный код в файле (тот что был на уроке)

In [ ]:
#создание DataFrame по столбцам с помощью словарей
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})

In [ ]:
frame

In [ ]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('dataset.tsv', header=0, sep='\t')

In [ ]:
frame

In [ ]:
frame.columns

In [ ]:
frame.shape

In [ ]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [ ]:
#добавление строки в DataFrame
frame.append(new_line, ignore_index=True)

In [ ]:
#добавление строки в DataFrame
frame = frame.append(new_line, ignore_index=True)

In [ ]:
frame

In [ ]:
#добавление столбца в DataFrame
frame['IsStudent'] = [False]*5 + [True]*2

In [ ]:
frame

In [ ]:
#удаление строк DataFrame
frame.drop([5,6], axis=0)

In [ ]:
frame

In [ ]:
#удаление строк DataFrame (inplace)
frame.drop([5,6], axis=0, inplace=True)

In [ ]:
frame

In [ ]:
#удаление столбца DataFrame (inplace)
frame.drop('IsStudent', axis=1, inplace=True)

In [ ]:
frame

In [ ]:
#запись DataFrame в файл
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=False)

In [ ]:
!cat updated_dataset.csv

In [ ]:
#аналог команды для пользователей Windows
!more updated_dataset.csv